$global-color-red:#a11c34;
$global-color-black:#060b14;
$color-skyblue:#1570ef;
$color-grey:#757575;
$button-bg-red:#c01048;
$dark-grey:#8a95a8;
$global-color-white:white;
$white-smoke:#f5f5f5;
$light-grey:#f1f1f1;


