$font-family :'Open Sans',
'Helvetica Neue';
$font-size-heading-H1:1.75rem;
$font-size-heading-H2:1.125rem;
$font-size-paragraph-p:.875rem;
$font-size-nav-link:.875rem;
$font-size-13px: .8125rem;

$font-weight-500:500;
